@model List<DataAccessLayer.Models.Application>
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .size {
            font-family: 'Times New Roman', sans-serif;
            font-size: 22px;
            font-weight: 800px;
        }
    </style>
</head>

<body>
    @*@for (int i = 0; i < Model.Count; i++)
    {
        var training = Model[i];*@
        <div class="vh-100" style="background-color: #2779e2;">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-9">
                        <div class="size">
                            <h1 class="text-white mb-4">Application Form</h1>
                        </div>
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body">

                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">ApplicationID</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        @*<p type="text" class="form-control form-control-lg" id="applicationIDInput">@training.ApplicationID</p>*@
                                        @*<input type="text" class="form-control form-control-lg" id="applicationIDInput" />*@
                                        <input type="text" class="form-control form-control-lg" id="applicationIDInput"/>

                                    </div>
                                </div>

                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">TrainingID</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="text" class="form-control form-control-lg" id="trainingIDInput" />

                                    </div>
                                </div>

                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">EmployeeID</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="text" class="form-control form-control-lg" />

                                    </div>
                                </div>

                                <hr class="mx-n3">

                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Full name</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input type="text" class="form-control form-control-lg" />

                                    </div>
                                </div>

                                <hr class="mx-n3">

                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">
                                        <h6 class="mb-0">Date</h6>
                                    </div>
                                    <div class="col-md-9 pe-5">
                                        <input type="date" class="form-control form-control-lg" id="dateInput" />
                                    </div>
                                </div>

                                <hr class="mx-n3">

                                <div class="row align-items-center py-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Upload Attactment</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control form-control-lg" id="formFileLg" type="file" />
                                        <div class="small text-muted mt-2">
                                            Upload your Pre-Requisites for relative training.Max file
                                            size 50 MB
                                        </div>

                                    </div>
                                </div>

                                <hr class="mx-n3">

                                <div class="px-5 py-4">
                                    <button type="submit" class="btn btn-primary btn-lg">Send application</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    @*}*@
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

     <script>
            $(document).ready(function () {
                // Make an AJAX request to retrieve application data
                $.ajax({
                    url: '@Url.Action("Index", "Application")', // Use Url.Action to generate the correct URL
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data && data.length > 0) {
                            // Update the input fields with the retrieved data
                            $('#applicationIDInput').val(data[0].ApplicationID);
                            $('#trainingIDInput').val(data[0].TrainingID);
                            $('#employeeIDInput').val(data[0].EmployeeID);
                        } else {
                            console.log('No data returned from the server.');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('Error: ' + textStatus, errorThrown);
                    }
                });
            });
        </script>

</body>

</html>
